<header>
    <img src="/logo_dark.png" width =40%>
    <nav> 
        <div>
            <a href ="/schedules"> Schedules</a>
            <a href ="/schedules/add"> Add Schedule</a>
            <a href ="/logout"> Logout</a>
                    
        </div>
            
       
    </nav>
    
</header>
